{% liquid
  assign rtl_languages = 'ar,arc,dv,fa,ha,he,khw,ks,ku,ps,ur,yi' | split: ','
  if rtl_languages contains lang
    assign direction = 'rtl'
  else
    assign direction = 'ltr'
  endif
  assign url = 'https://' | append: context.location.host
%}
<!DOCTYPE html>
<html dir="{{ direction }}" lang="{{ context.language }}">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <style>
      .container {
        max-width: 40rem;
        margin: 0 auto;

        line-height: 1.5;
        font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        color: #1c1c1c;
      }

      .footer {
        margin-top: 2rem;
        padding-top: .75rem;

        border-top: 1px solid #eee;

        font-size: .75rem;
        color: #969696;
      }
    </style>
  </head>

  <body>
    <div class="container">
      {{ content_for_layout }}
      <div class="footer">
        <p>This message was sent from <a href="{{ url }}">{{ url }}</a></p>
      </div>

    </div>
  </body>

</html>
